[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
isort = "*"
tox = "*"
mypy = "*"
bandit = "*"
pytest-cov = "*"
pytest-randomly = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-isort = "*"
pydocstyle = "*"
gunicorn = "*"
safety = "*"
vulture = "*"
tox-pipenv-install = "*"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
logaut = ">=0.1.0"
connexion = {extras = ["swagger-ui"], version = "*"}
pythomata = "*"
pylogics = ">=0.1.0"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
