[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "==21.5b1"
isort = "*"
tox = "*"
mypy = "*"
bandit = "*"
pytest-cov = "*"
pytest-randomly = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
flake8-import-order = "*"
pydocstyle = "*"
gunicorn = "*"
safety = "*"
vulture = "*"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
logaut = {git = "https://github.com/whitemech/logaut.git"}

[requires]
python_version = "3.8"
